%Dn{
    display: none;
}
%SubNav{
    width: 50%;
    color:white;    
}
header{
    nav{
        #Works, #Author, #Project, #Contant{
            @extend %Dn;
        }
    }
}

footer{
    nav{
        #SubNavA{
            @extend %SubNav;
            background-color: blue;            
        }
        #SubNavB{
            @extend %SubNav;
            background-color: blueviolet;
        }
        #SubNavC{
            @extend %SubNav;
            background-color: brown;
        }
    }
}