

//繼承
%Dn{
    display: none;
}
%SubNav{
    width: 50%;
    color:white;    
}
header{
    width: $NavWidth;
    //height: $NavHeight;
    background-color:rgb(135, 138, 182);
    nav{
        li{
            float: left;
        }
        .Clear{
            clear:both;
        }
        #Logo{
            width: $W8;
            font-size: $Text*4;
        }
        #Menu{
            width: $W2;
        }        
        #Works, #Author, #Project, #Contant{
            @extend %Dn;
        }
    }
}

footer{
    nav{
        #SubNavA{
            @extend %SubNav;
            background-color: blue;            
        }
        #SubNavB{
            @extend %SubNav;
            background-color: blueviolet;
        }
        #SubNavC{
            @extend %SubNav;
            background-color: brown;
        }
    }
}