header{
    width: $NavWidth;
    height: $NavHeight;
    background-color:rgb(135, 138, 182);
    nav{

        #Works, #Author, #Project, #Contant{
            //@extend %Dn;
        }
    }
}

footer{
    nav{
        #SubNavA{
            //@extend %SubNav;
            background-color: blue;            
        }
        #SubNavB{
            //@extend %SubNav;
            background-color: blueviolet;
        }
        #SubNavC{
            //@extend %SubNav;
            background-color: brown;
        }
    }
}